.container{
 display: grid;
 grid-template-columns:5fr 1fr ;
}
.container-show {
    background-color: lightblue;
    display: flex;
    justify-content: flex-end;  
}
.container-list{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
   /* justify-content:flex-end;*/
    /*width:300px;*/
    /*height: 2000px;*/
}
.div-nav{
  height:200px;
  background-color: black;
  border:1px solid black;
}